.zalsteksts {
color: blue;
border-style: dashed;
}



#unikals{
color: chartreuse;
font-size:large;

}



#specialramitis{
    margin: 150px;
    padding: 50px;
    width: 50%;
    display: grid;
    grid-template-columns: 40% 60%;

}


ul li {
font-style: normal;


}

ol li {
 
    text-decoration: underline;

 }  
 
 
 body{

background-color: cyan;

 }
 .left{
background-color: rgb(150, 149, 145);

 }
 .right{

    background-color: rgb(225, 209, 209);
 }